# Apps Script Web App URL (public /exec)
NEXT_PUBLIC_API_URL=https://script.google.com/macros/s/AKfycbx7hWLiIPitVwQAA4BpWlMm00BcbBVRa-mETGPpFTDBN7yfTRbehyReAc3bps1TDTka/exec

# Домен для canonical / OG (без протокола в проде)
NEXT_PUBLIC_SITE_URL=https://intpas.com
